<h1>About Bloccit by Brandon</h1>
<p>This is a rails app created during the Bloc apprenticeship foundation phase,
  which is very "tutorial like." However, I did take a little liberty to customize a
  few things to my liking.</p>
<p><em>Created with delight by <%= my_name %></em></p>
