<br/>
<div class='jumbotron'>
  <h1>Bloccit by Brandon</h1>
  <p>Sharing links with your friends has never been more amazing!</p>
  <p>
    <% if user_signed_in? %>
      <%= link_to "View All Topics", topics_path,
        class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path,
        class: 'btn btn-primary btn-lg' %> or
      <%= link_to "Sign Up", new_user_registration_path,
        class: 'btn btn-primary btn-lg' %> today!
    <% end %>
  </p>
</div>

<div class='row'>
  <div class='col-md-4'>
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need,
          all over the world.</p>
  </div>

  <div class='col-md-4'>
    <h2>Makes you awesome</h2>
    <p>Your friends will be amazed at all of the things you share!</p>
  </div>

  <div class='col-md-4'>
    <h2>Will pay your rent</h2>
    <p>Your chance to receive a month of free rent increases exponentially
          with each post!</p>
  </div>
</div>
